act
Android Open Source Project/
clangd
chromium/
dconfig/
flutter/
Google/
gtk-2.0/
gtk-3.0/
gtk-4.0/
GIMP/
htop
LM Studio
nautilus/
nostr/
Open Interpreter/
pulse/
QtProject
VSCodium/
poubelle/
dconf/
gh/
woob/
echogit/
cheat/
mimeapps.list
qutebrowser/
